<section class="cart py-16">
  <% if(!session.cartItem) { %>
  <div class="empty-cart py-8">
    <div class="container mx-auto text-center">
      <h1 class="text-3xl text-bold mb-2">Empty Cart😔</h1>
      <p class="text-gray-500 text-lg mb-12">
        You probably haven't ordered a pizza yet. <br />
        To order a pizza, go to main page
      </p>
      <img
        class="w-2/5 h-auto mx-auto mb-6"
        src="/img/empty-cart.png"
        alt="cart"
      />
      <a
        href="/"
        class="order-now rounded-full px-6 py-2 inline-block font-bold mt-12 mb-12"
        >Order Now</a
      >
    </div>
  </div>

  <% } else { %>

  <div class="container order mx-auto md:w-1/2">
    <div class="flex items-center border-b border-gray-300 pb-4">
      <img src="/img/cart-black.png" alt="cart-black" class="w=1/4 h-8" />
      <h1 class="font-bold text-2xl ml-4">Order Summary</h1>
    </div>

    <div class="pizza-list ">
      <% for(let pizza of Object.values(session.cartItem.item)) { %>
      <div class="flex items-center my-8">
        <img
          class="w-20 h-20"
          src="/img/<%= pizza.item.image %> "
          alt="pizza"
        />
        <div class="flex-1 ml-4">
          <h1 class="font-bold"><%= pizza.item.name %></h1>
          <span class="size-cart rounded-full px-2"> <%= pizza.item.size %></span>
        </div>
        <span class="flex-1"><%= pizza.qty %> Pcs</span>
        <span class="font-bold text-lg"
          >₹<%= pizza.item.price * pizza.qty%></span
        >
      </div>
      <% } %>
    </div>

    <hr />
    <div class="text-right py-4">
      <div class="mb-4">
        <span class="text-lg font-bold">Total Amount:</span>
        <span class="amount text-2xl font-bold ml-4"
          >₹<%= session.cartItem.totalPrice %>
        </span>
      </div>
      <% if(user){ %> 
      <div>
        <form action="/order" method="POST">
          <input
          name="phone"
            type="text"
            class="border border-gray-400 p-2 w-1/2 mb-4"
            placeholder="Phone Number"
          />
          <input
          name="address"
            type="text"
            class="border border-gray-400 p-2 w-1/2 mb-1"
            placeholder="Address"
          />
          <div>
            <button
              type="submit"
              class="order-now px-6 py-2 rounded-full font-bold"
            >
              Order Now
            </button>
          </div>
        </form>
      </div>
    <% } else {  %> 
      <a
        href="/login"
        class="inline-block cursor-pointer order-now px-6 py-2 rounded-full font-bold"
        >Login to Continue</a
      >
    <% } %> 
    </div>
  </div>
  <% } %>
</section>
